<div class="col-lg-5"></div>
 <div class="col-lg-5">
 <div>
 	<br>
 	<br>
 	<br>
 	<br>
 	<br>
 	<h3><b><u>New</u></b></h3>
 </div>
 <br>
 <div>
 	<form action="/forminsert" method="post">
 		Name:<br>
 		<input type="text" name="name">
 		<br>
 		Score:<br>
 		<input type="number" name="score">
 		<br>
 		<button type="submit" style="margin-left:1.5cm" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-save"></span> Save</button>
 	</form>
 </div>
 </div>