 <div class="col-lg-5"></div>
 <div class="col-lg-5">
 	<br>
 	<br>
 	<br>
 <h3><b><u>Sign up</u></b></h3>
 <br>
  <form action="/signup" method="post">
    Username:<br>
    <input type="text" name="username">
    <br>
    Password:<br>
    <input type="password" name="password">
    <br>
    <button style="margin-left: 1.5cm" type="submit" class="btn btn-info">Sign up</button>
  </form>
 </div>